<!DOCTYPE html>

<html>

<head>
    <title>Question 1</title>
</head>

<body>

    <div>
        <h1>Question 1</h1>       
    </div>

    <div>
        <!-- Name/Gender API not yet implemented -->
    
        <h3> <!-- <%= %> --> (PLACEHOLDER)? That's an interesting name. 
            </ br>
            Do you identify as <!-- <%= %> -->?
            </ br>
            It's fair to feel uncomfortable with this kind of disclosure, especially when it's showing up on a screen in real time. 
            </ br>
            To learn more about name data, please <a href="/tip02">click here</a>.
        </h3>        
    </div>
    
    <div align=center>
        <a href="/">Homepage  ||  </a>
        <a href="/q02">Next Question</a>
    </div>
    
    
</body>

</html>