<!DOCTYPE html>

<html>

<head>
    <title>Question 2</title>
</head>

<body>

    <div>
        <h1>Question 2</h1>       
    </div>

    <div>
        <!-- -->
    
        <h3> <!-- <%= %> --> Got it. We'll keep that in mind. </ br>
            Do you mind telling us when you were born? (DD/MM/YYYY) <!-- <%= %> -->?
        </h3>
        
        <h5>
            <a href="/tip03">Uses of Gender Information</a>
        </h5>
        
    </div>
    
    <div align=center>
        <a href="/q01">Previous Question ||  </a>
        <a href="/">Homepage  ||  </a>
        <a href="/q03">Next Question</a>
    </div>
    
    
</body>

</html>