<!DOCTYPE html>

<html>

<head>
    <title>Question 3</title>
</head>

<body>

    <div>
        <h1>Question 3</h1>
    </div>

    <div>
    <!--  -->
    
        <h3> <!-- <%= %> --> Thanks (PLACEHOLDER). That makes you (YEARS/MONTHS/DAYS)<!-- <%= %> --> old. </ br>
            So (PLACEHOLDER), did you know you're currently Connected to (NETWORK) <!-- <%= %> -->?
        </h3>
        
        <h5>
            <a href="/tip04">Uses of Age Data</a>
        </h5>
        
    </div>
    
    <div align=center>
        <a href="/q02">Previous Question ||  </a>
        <a href="/">Homepage  ||  </a>
        <a href="/q04">Next Question</a>
    </div>
    
</body>

</html>