<!DOCTYPE html>

<html>

<head>
    <title>Question 4</title>
</head>

<body>

    <div>
        <h1>Question 4</h1>
    </div>

    <div>
    <!--  -->
    
        <h3> <!-- <%= %> --> It's true, you're currently connected to(NETWORK)<!-- <%= %> -->. That means you're in the Trinity Science Gallery. </ br>
            Where are you from <!-- <%= %> -->?
        </h3>
        
        <h5>
            <a href="/tip05">Uses of Network Data</a>
        </h5>
        
    </div>
    
    <div align=center>
        <a href="/q03">Previous Question ||  </a>
        <a href="/">Homepage  ||  </a>
        <a href="/q05">Next Question</a>
    </div>
    
</body>

</html>