<!DOCTYPE html>

<html>

<head>
    <title>Terms and Conditions</title>
</head>

<body>

    <div>
        <h1>Terms and Conditions</h1>
    </div>

    <div>    
        <h3> 
            Well done (PLACEHOLDER)<!-- <%= %> -->! That's an interesting name.
        </h3>
        
        <h5>
            The first step to protecting youself in the online world is to inform yourself.
            </ br>
            Every question will have a link to some tips regarding the previous question. Following it will allow you to learn about gow to protect the relevant personal information and allow you to obsucre it on the face display. Good luck!
        </h5>
        
        <a href="/q01">Continue</a>
        
    </div>
    
</body>

</html>